/* Originally from SCSS */
:root {
  --mdb-red: #f44336 !important;
  --mdb-pink: #e91e63 !important;
  --mdb-purple: #9c27b0 !important;
  --mdb-indigo: #3f51b5 !important;
  --mdb-blue: #2196f3 !important;
  --mdb-cyan: #00bcd4 !important;
  --mdb-teal: #009688 !important;
  --mdb-green: #4caf50 !important;
  --mdb-yellow: #ffeb3b !important;
  --mdb-orange: #ff9800 !important;
  --mdb-white: #fff !important;
  --mdb-black: #000 !important;
  --mdb-gray: #757575 !important;
  --mdb-gray-dark: #4f4f4f !important;
  --mdb-gray-50: #fbfbfb !important;
  --mdb-gray-100: #f5f5f5 !important;
  --mdb-gray-200: #eeeeee !important;
  --mdb-gray-300: #e0e0e0 !important;
  --mdb-gray-400: #bdbdbd !important;
  --mdb-gray-500: #9e9e9e !important;
  --mdb-gray-600: #757575 !important;
  --mdb-gray-700: #616161 !important;
  --mdb-gray-800: #4f4f4f !important;
  --mdb-gray-900: #262626 !important;
  --mdb-primary: #02A7D4 !important;  /* Changed */
  --mdb-secondary: #1c6ed0 !important;  /* Changed */
  --mdb-success: #14a44d !important;
  --mdb-danger: #dc4c64 !important;
  --mdb-warning: #e4a11b !important;
  --mdb-info: #54b4d3 !important;
  --mdb-light: #fbfbfb !important;
  --mdb-dark: #332d2d !important;
  --mdb-primary-rgb: 59, 113, 202 !important;
  --mdb-secondary-rgb: 159, 166, 178 !important;
  --mdb-success-rgb: 20, 164, 77 !important;
  --mdb-danger-rgb: 220, 76, 100 !important;
  --mdb-warning-rgb: 228, 161, 27 !important;
  --mdb-info-rgb: 84, 180, 211 !important;
  --mdb-light-rgb: 251, 251, 251 !important;
  --mdb-dark-rgb: 51, 45, 45 !important;
  --mdb-white-rgb: 255, 255, 255 !important;
  --mdb-black-rgb: 0, 0, 0 !important;
  --mdb-body-color-rgb: 79, 79, 79 !important;
  --mdb-body-bg-rgb: 255, 255, 255 !important;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
  --mdb-body-font-family: var(--mdb-font-roboto) !important;
  --mdb-body-font-size: 1rem !important;
  --mdb-body-font-weight: 400 !important;
  --mdb-body-line-height: 1.6 !important;
  --mdb-body-color: white !important; /* Changed */
  --mdb-body-bg: black !important;  /* Changed */
  --mdb-border-width: 1px !important;
  --mdb-border-style: solid !important;
  --mdb-border-color: #e0e0e0 !important;
  --mdb-border-color-translucent: rgba(0, 0, 0, 0.175) !important;
  --mdb-border-radius: 0.25rem !important;
  --mdb-border-radius-sm: 0.25rem !important;
  --mdb-border-radius-lg: 0.5rem !important;
  --mdb-border-radius-xl: 1rem !important;
  --mdb-border-radius-2xl: 2rem !important;
  --mdb-border-radius-pill: 50rem !important;
  --mdb-link-color: #3b71ca !important;
  --mdb-link-hover-color: #386bc0 !important;
  --mdb-code-color: #e91e63 !important;
  --mdb-highlight-bg: #fff9c4 !important;

  /* Custom */
  --accent-one: #dfb540;
  --accent-two: #bd484a;
  --accent-three: #cf001f;
  --top-fade: linear-gradient(
    to bottom,
    black 0%,
    rgba(0,0,0,0.738) 19%,
    rgba(0,0,0,0.541) 34%,
    rgba(0,0,0,0.382) 47%,
    rgba(0,0,0,0.278) 56.5%,
    rgba(0,0,0,0.194) 65%,
    rgba(0,0,0,0.126) 73%,
    rgba(0,0,0,0.075) 80.2%,
    rgba(0,0,0,0.042) 86.1%,
    rgba(0,0,0,0.021) 91%,
    rgba(0,0,0,0.008) 95.2%,
    rgba(0,0,0,0.002) 98.2%,
    transparent 100%
  );
  --bottom-fade: linear-gradient(
    to top,
    black 0%,
    rgba(0,0,0,0.738) 19%,
    rgba(0,0,0,0.541) 34%,
    rgba(0,0,0,0.382) 47%,
    rgba(0,0,0,0.278) 56.5%,
    rgba(0,0,0,0.194) 65%,
    rgba(0,0,0,0.126) 73%,
    rgba(0,0,0,0.075) 80.2%,
    rgba(0,0,0,0.042) 86.1%,
    rgba(0,0,0,0.021) 91%,
    rgba(0,0,0,0.008) 95.2%,
    rgba(0,0,0,0.002) 98.2%,
    transparent 100%
  );
}

.navbar {
  --mdb-navbar-padding-x: 0 !important;
  --mdb-navbar-padding-y: 0.5rem !important;
  --mdb-navbar-color: white !important; /* Changed */
  --mdb-navbar-hover-color: var(--accent-three) !important;  /* Changed */
  --mdb-navbar-disabled-color: rgba(0, 0, 0, 0.3) !important;
  --mdb-navbar-active-color: rgba(0, 0, 0, 0.9) !important;
  --mdb-navbar-brand-padding-y: 0.3rem !important;
  --mdb-navbar-brand-margin-end: 1rem !important;
  --mdb-navbar-brand-font-size: 1.25rem !important;
  --mdb-navbar-brand-color: white !important; /* Changed */
  --mdb-navbar-brand-hover-color: var(--accent-color) !important;  /* Changed */
  --mdb-navbar-nav-link-padding-x: 0.5rem !important;
  --mdb-navbar-toggler-padding-y: 0.25rem !important;
  --mdb-navbar-toggler-padding-x: 0.75rem !important;
  --mdb-navbar-toggler-font-size: 1.25rem !important;
  --mdb-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  --mdb-navbar-toggler-border-color: rgba(0, 0, 0, 0.1) !important;
  --mdb-navbar-toggler-border-radius: 0.25rem !important;
  --mdb-navbar-toggler-focus-width: 0.25rem !important;
  --mdb-navbar-toggler-transition: box-shadow 0.15s ease-in-out !important;
  position: relative !important;
  display: flex !important;
  /* flex-wrap: wrap !important; */
  align-items: center !important;
  justify-content: space-between !important;
  padding: var(--mdb-navbar-padding-y) var(--mdb-navbar-padding-x) !important;
}
/* Originally from SCSS */

#app {
  font-family: Josefin Sans, sans-serif !important;
  
}

.router-link-active.router-link-exact-active.nav-link {
  /* color: rgba(255, 255, 255, 0.8); */
  color: var(--accent-two);
}
a:hover.router-link-active.router-link-exact-active.nav-link {
  color: var(--accent-three);
}

h1 {
  font-weight: 700 !important;
}

.vue-typer {
  --char-typed-color: white !important;
  --caret-complete-color: white !important;
  --caret-idle-color: white !important;
  --caret-typing-color: white !important;
  --caret-selecting-color: white !important;
  --caret-erasing-color: white !important;
}